@import "blocks/_promo.scss";
@import "blocks/_footer.scss";
@import "blocks/_music.scss";
* {
  font-family: "Roboto", sans-serif;
  font-display: swap;
  scroll-behavior: smooth !important;
}
html,
body {
  scroll-behavior: smooth !important;
}
.hide {
  display: none;
}
.show {
  display: flex;
}
