.footer {
  background-color: rgb(0, 0, 0);
  padding: 20px 0;
  &__adress {
    color: #ffffff;
    &-header {
      font-size: 30px;
      font-weight: 400;
    }
    &-descr {
      font-size: 20px;
      font-weight: 300;
      line-height: 30px;
    }
  }
  &__about {
    color: #ffffff;
    &-header {
      font-size: 30px;
      font-weight: 400;
    }
    &-descr {
      font-size: 20px;
      font-weight: 300;
      line-height: 30px;
      a {
        color: #ffffff;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
          text-underline-offset: 2px;
        }
      }
    }
    &-icon {
      img {
        width: 25px;
        height: 25px;
      }
    }
  }
}
