:root {
  --Color: #cb0fff;
}
.music {
  min-height: 95vh;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url(../img/bg/event-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  &__cards {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  &__card {
    display: flex;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url(../img/bg/Chillhop-bg.jpg);
    background-size: cover;
    padding: 200px 0 0;
    width: 300px;
    height: 400px;
    transition: transform 300ms ease;
    &-content {
      padding: 0 20px 40px 20px;
      background: linear-gradient(
        (hsl(0 0% 0% /0)),
        hsl(20 0% 0% /0.3) 20%,
        hsl(0 0% 0% /1)
      );
    }
    &-title {
      position: relative;
      width: max-content;
      &:after {
        content: "";
        position: absolute;
        width: calc(100% + 20px);
        height: 4px;
        left: -20px;
        bottom: -3px;
        background: var(--Color);
        //transform: scaleX(0);
        transform-origin: left;
        transition: transform 500ms ease;
      }
    }
    &-body {
      margin-top: 15px;
    }
    &-button {
      width: 120px;
      border-radius: 20px;
      font-size: 15px;
      font-weight: 500;
      border: 2px solid black;
      &-synthwave {
        background-color: transparent;
        color: white;
        border-color: var(--Color);
      }
      &-classic {
        background-color: transparent;
        color: white;
        border-color: #e5ecbb;
      }
      &-phonk {
        background-color: transparent;
        color: white;
        border-color: #15ff00;
      }
      &-chillhop {
        background-color: transparent;
        color: white;
        border-color: #0084ff;
      }
      &-gameOST {
        background-color: transparent;
        color: white;
        border-color: white;
      }
      &-filmOST {
        background-color: transparent;
        color: white;
        border-color: yellow;
      }
      &-trap {
        background-color: transparent;
        color: white;
        border-color: red;
      }
    }
  }
  &__modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba($color: #000000, $alpha: 0.8);
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    overflow-y: scroll;
    display: none;
    justify-content: center;
    align-items: center;
    transition: opacity 0.4s ease-in-out;
    & iframe {
      width: 75%;
      height: 75%;
    }
  }
}
@media (hover) {
  .music {
    &__card {
      &-content {
        transform: translateY(70%);
        transition: transform 500ms ease;
      }
      &-content > *:not(.music__card-title) {
        opacity: 0;
        transition: opacity 500ms linear;
      }
      &-title {
        &:after {
          transform: scaleX(0);
        }
      }
      &:focus-within .music__card-content {
        transition-duration: 0ms;
      }
      &:hover,
      &:focus-within {
        transform: scale(1.01);
        .music__card-title::after {
          transform: scaleX(1);
        }
        .music__card-content {
          transform: translateY(0);
          transition-delay: 300ms;
        }
        .music__card-content > * {
          opacity: 1;
          transition-delay: 300ms;
        }
      }
    }
  }
}
