.promo {
  position: relative;
  min-height: 100vh;
  max-height: 100vh;
  padding: 0 0 150px 0;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(../img/bg/Synthwave-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  &__header {
    padding-top: 100px;
    font-weight: 400;
    font-size: 12vw;
    line-height: 12.5vw;
    color: #ffffff;
    &-genre {
      font-size: 12vw;
      line-height: 12.5vw;
      color: rgba($color: #cb0fff, $alpha: 1);
    }
  }
  .question {
    animation: blink1 2s linear infinite;
    color: rgba($color: #cb0fff, $alpha: 1);
  }
  @keyframes blink1 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  &__clock {
    padding: top 10px;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 5vh;
    font-weight: 400;
    color: #9113e6;
  }
  &__arrow {
    cursor: pointer;
    position: absolute;
    top: 85%;
    left: 50%;
    width: 36px;
    height: 36px;
    margin-left: -18px;
    border-left: 5px solid;
    border-bottom: 5px solid;
    border-color: #9113e6;
    transform: rotate(-45deg);
  }
  &__buttons {
    background-color: rgba($color: black, $alpha: 0.5);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0px;
    padding: 5px 250px 5px 250px;
  }
  &__button {
    margin: 10px 0 10px 0;
    width: 120px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid black;
    &-synthwave {
      background-color: #cb0fff;
      color: white;
      border-color: #cb0fff;
    }
    &-classic {
      background-color: transparent;
      color: white;
      border-color: #e5ecbb;
    }
    &-phonk {
      background-color: transparent;
      color: white;
      border-color: #15ff00;
    }
    &-chillhop {
      background-color: transparent;
      color: white;
      border-color: #0084ff;
    }
    &-gameOST {
      background-color: transparent;
      color: white;
      border-color: white;
    }
    &-filmOST {
      background-color: transparent;
      color: white;
      border-color: yellow;
    }
    &-trap {
      background-color: transparent;
      color: white;
      border-color: red;
    }
  }
}
